<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <h1>Welcome to the Posts Page</h1>
    <button id="create" class="create-btn">Create Post</button>
    <hr>
    <div>
        <% for(let post of posts) { %>
           <div class="post">
             <h4><%= post.title %></h4>
            <p><%=post.content %></p>
            <a href="/posts/<%=post.id%>/show" class="btn"> Show post</a>
            &nbsp; &nbsp; &nbsp;
            <a href="/posts/<%= post.id %>/edit" class="btn">Edit post</a>
            &nbsp; &nbsp; &nbsp;
            <button class="btn delete-btn" data-id="<%= post.id %>">Delete post</button>
           </div>
            <% }%>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>