<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
       <div class="post">
       <p>ID : <%=info.id%></p>
      <h3>Title : <%=info.title %></h3>
      <p>Content : <%=info.content %></p>
      <p>Author : <%=info.author %></p>
      <p>Date : <%=info.created_at %></p>
       </div>
</body>
</html>